/**
 * Site header
 */
.site-header {
    min-height: 50px; 
    background-image: url("/pictures/header-bkg2.png");
    background-repeat: repeat-x;
    border-bottom: 2px solid darkgreen;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
	color: #000000;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #000000;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $blue-color-light;
    padding: $spacing-unit 0;
    background-color: lighten(#404040, 60%)
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Title Bar
 */

.title-bar {
    width: 100%;
    display: table;
    background-color: #262626;
    // background-color: #2a8347;
    // background-image: url(/food-waste-website/pictures/header-title-bkg.png);
    height: 250px;

    .wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    
    h1 {
        font-size: 42px;
        color: #FFFFFF;
        text-align: center;
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;

    .wrapper {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
        max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
        margin-right: auto;
        margin-left: auto;
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;
        @extend %clearfix;

        @include media-query($on-laptop) {
            max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
            max-width:         calc(#{$content-width} - (#{$spacing-unit}));
            padding-right: $spacing-unit / 2;
            padding-left: $spacing-unit / 2;
        }
    }

}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Partners
 */

.partner-box {
    table {
        margin: auto;
        border-collapse: collapse;
        border: 1px solid #eee;
        border-bottom: 2px solid #00cccc;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
            0px 10px 20px rgba(0,0,0,0.5),
            0px 20px 20px rgba(0,0,0,0.5),
            0px 30px 20px rgba(0,0,0,0.5);
        tr {
            &:hover {
                background: #F4F4F4;
                
                td {
                    color: #555;
                }
            }
        }
    }
    th, td {
        img {
            width: 150px;
        }
        color: #999;
        border: 1px solid #eee;
        padding: 12px 35px;
        border-collapse: collapse;
        font-size: 24px;
        text-align: center;
    }
    th {
        background: #00cccc;
        color: #fff;
        text-transform: uppercase;
        &.last {
            border-right: none;
        }
    }
}

/**
 * Involved Page
 */

.involved-page {
    div {
        width: 50%;
        margin: 0 auto;
    }

    h1 {
        display: inline-block;;
    }
    .right {
        float: right
    }
}

/**
 * Route Map
 */

.route-content {
    height: 520px;
    #map {
        position: relative;
        top: 0; 
        bottom: 0; 
        width: 45%;
        height: 500px;
        margin-left: $spacing-unit;
        float: left;
    }
    iframe {
        width: 50%;
        height: 500px;
        position: relative;
        float: right;
        margin-right: $spacing-unit;    
    }
    table {
        width: 80%;
        margin-left: 10%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
    @include media-query(1080px) {
        #map {
            width: 40%;
            height: 300px;
        }
        iframe {
            width: 40%;
            height: 300px;
        }
    }    
    
}

.about-page {
    .picture-text {
        padding-bottom: 20%;
    }
    #text-left {
        text-align: left;
    }
    #text-right {
        text-align: right; 
    }
    #text-center {
        text-align: center;
    }
    #img-float-left {
        float: left;
        width: 45%;
        margin-right: 1em;
    }
    #img-float-right {
        float: right;
        width: 45%;
        margin-left: 1em;
    }
    p {
        font-size: 22px;
    }
    li {
        font-size: 22px;
    }
    img {
    }

    @include media-query($on-palm) {
        p {
            font-size: 18px;
        }
        li {
            font-size: 18px;
        }
    }
}

//home page

.bagel-head {
    width:100%;
    height: 300px;
    background: #262626;
    display: table;
 
    .leadin {
        display: table-cell;
        vertical-align: middle;
        
        h1 {
            padding-left: 25%;
            width: 50%;
            font-size: 36px;
            color: #FFFFFF;
            text-align: center;
        }
    }
}

.home {
    img {
        width: 100%; 
        margin: auto;
        padding: 10px;
    }
}

// Contact us
.contact-us {
    width: 100%;
    height: 500px;
}
.contact-us-form { 
    float: right;
    width: 70%;
    padding-right: $spacing-unit;
    iframe {
        width: 100%;
    }
    @include media-query(800px) {
        width: 100%;
        float: none;
        display: inline-block; 
    }
}
.contact-us-wrapper{
    margin-left: 1px;
    padding-right: 1px;
    width: 25%;
    height: 500px;
    @include media-query(800px) {
        display:none;
    }
}
.contact-us-info {
    background:  #D2D2D2;
    height: 500px;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}
