<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    
    <div class="bagel-head">
      <div class="leadin">
        <h1>We are a group of students fighting food waste in the North Shore.</h1>
      </div>
    </div>

    {% if page.title %}
    <div class="title-bar">
        <div class="wrapper">
            <h1>{{ page.description }}</h1>
        </div>
    </div>
    {% endif %}
    
    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}

  </body>

</html>
